body {
    margin: 0px;
    padding: 0px;
}

.encabezado {
    position: relative;
    min-width: 100%;
    min-height: 100px;
    background-color: #333;
}

.encabezado .menu {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.encabezado .nuevo {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.encabezado .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}