* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #212A34;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconos {
    background-color: #111;
    width: 100%;
    height: 40px;
    display: flex;
    align-items:flex-end;
    flex-direction: column;
}

.iconos a {
    color: #707070;
    right: 10px;
    font-weight: bold;
    text-decoration: none;
}

.iconos a:hover {
    color: #a0a0a0;
}

.logo-header {
    /* background-color: rgba(200, 200, 200, .5) */
    width: 100%;
    position: relative;
    height: 136px;
}

.logo-header a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #72da38;
    font-size: xx-large;
    font-weight: bold;
}

.logo-header button {
    border: none;
    padding: 5px;
    background: none;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.logo-header .menu {
    position: absolute;
    left: 30px;
    bottom: 10px;
}

.logo-header .nuevo {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.logo-header .logo {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 300px;
}

.header hr {
    width: 99%;
    border: none;
    border-top: 1px solid #535B63;
}

.navegacion {
    width: 100%;
    height: 72px;
    /* background-color: rgba(200, 200, 200, .5) */
}

.redes a {
    text-decoration: none;
    color: #72da38;
}

.secciones a {
    text-decoration: none;
    color: white;
}

.btn-buscar {
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.navegacion .buscar {
    text-decoration: none;
    color: #72da38;
}

.navegacion .nav-redes ul li {
    list-style: none;
    float: left;
    margin: 0px 5px;
}

.navegacion .nav-redes {
    float: right;
}

.navegacion .nav-secciones ul li {
    list-style: none;
    float: left;
    margin: 0px 20px;
}

.navegacion .nav-secciones {
    margin-left: 50px;
}

.navegacion .secciones li a:hover {
    text-decoration: underline;
}