* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f4f6;
}

/*Estilos Header*/

.header {
    background-color: #212A34;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconos {
    background-color: #111;
    width: 100%;
    height: 40px;
    display: flex;
    align-items:flex-end;
    flex-direction: column;
}

.iconos a {
    color: #707070;
    right: 10px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    margin-right: 20px;
}

.iconos a:hover {
    color: #a0a0a0;
}

.logo-header {
    /* background-color: rgba(200, 200, 200, .5) */
    width: 100%;
    position: relative;
    height: 136px;
}

.logo-header a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #72da38;
    font-size: xx-large;
    font-weight: bold;
}

.logo-header button {
    border: none;
    padding: 5px;
    background: none;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.logo-header .menu {
    position: absolute;
    left: 30px;
    bottom: 10px;
}

.logo-header .nuevo {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.logo-header .logo {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 300px;
}

.header hr {
    width: 99%;
    border: none;
    border-top: 1px solid #535B63;
}

.navegacion {
    width: 100%;
    height: 72px;
    /* background-color: rgba(200, 200, 200, .5) */
}

.redes a {
    text-decoration: none;
    color: #72da38;
}

.navegacion a img {
    width: 24px;
}

.nav-redes {
    margin-right: 16px;
}

.secciones a {
    text-decoration: none;
    color: white;
}

.btn-buscar {
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.navegacion .buscar {
    text-decoration: none;
    color: #72da38;
}

.navegacion .nav-redes ul li {
    list-style: none;
    float: left;
    margin: 0px 5px;
}

.navegacion .nav-redes {
    float: right;
}

.navegacion .nav-secciones ul li {
    list-style: none;
    float: left;
    margin: 0px 20px;
}

.navegacion .nav-secciones {
    margin-left: 50px;
}

.navegacion .secciones li a:hover {
    text-decoration: underline;
}

/* Estilos Notas */

.notas {
    background-color: #212A34;
    width: 100%;
    height: calc(100vh - 240px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.notas .nota {
    position: relative;
    border: 4px solid rgba(255, 255, 255, .2);
    width: 30%;
    height: 70%;
}

.notas .nota img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
}

.notas .nota img:hover {
    opacity: 1;
}

.notas .nota:hover {
    border: 4px solid #72da38;
    cursor: pointer;
}

.notas .nota span {
    position: absolute;
    left: 6px;
    bottom: 6px;
    color: rgb(220, 220, 220);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 0 0 #111;
    /* -webkit-text-stroke: 1px black; */
}

/* seccion LO ÚLTIMO */

.reciente {
    padding-bottom: 100px;
    position: relative;
    width: 100%;
}

.reciente .ultimo {
    color: #707070;
    font-size: 20px;
    padding: 20px 0 15px 50px;
}

.articulo {
    position: relative;
    text-align: left;
    background-color: #fff;
    border-top: 1px solid #E0E0E0;
    height: 300px;
    margin-left: 30px;
    width: 70%;
}

.articulo .img-articulo {
    float: right;
    width: 30%;
    height: 252px;
    padding: 24px;
}

.articulo .img-articulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articulo .info-articulo {
    margin: 24px 0 24px 24px;
    width: 70%;
    height: 252px;
}

.articulo .info-articulo header h2 {
    margin-bottom: 20px;
}

.articulo .info-articulo header h2 a {
    text-decoration: none;
    color: #111;
}

.articulo .info-articulo header .categoria-articulo {
    text-decoration: none;
    text-transform: uppercase;
    color: #378708;
}

.articulo .desc-articulo {
    margin: 10px 0;
}

.articulo .desc-articulo p {
    color: #111;
    display: inline;
}

.articulo .desc-articulo a {
    text-decoration: none;
    color: #707070;
    text-transform: uppercase;
}

.articulo footer {
    display: flex;
    gap: 6px;
    text-transform: uppercase;
}

.articulo footer a, .articulo footer p {
    text-decoration: none;
    color: #707070;
}

.articulo footer a.autor::after, .articulo footer a.autor::before {
    content: " - ";
}

.recomendado {
    width: 100%;
    height: 300px;
    background-color: #212A34;
}

.recomendado p {
    color: #ffe77c;
}